<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="description" content="❰❰❰ QUEST Луцьк ❱❱❱ це: ➔ цікаві логічні завдання від кращих авторів Луцька, ➔ захоплюючі пошуки, ➔ драйв та адреналін, ➔ неймовірні пригоди та яскраві емоції, ➔ новий формат інтелектуально-активного відпочинку! ➤ Якщо ти рухаєш мізками та дупою швидше ніж твоя бабуся, ПРИЄДНУЙСЯ 【 Квест 🔍 Луцьк 】" />
    <meta name="keywords" content="квест, автоквест, автоквесты, велоквесты, пешеходный квест, автоквести, велоквести, пішохідний квест, онлайн квест, велоквест, адреналин, адреналін, драйв, экстрим, екстрім, риск, игра, игры, ризик, гра, ігри, интеллект, quest, autoquest, lutsk, Луцьк">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="author" content="">

    <title>【 Квести Луцьк 】 ᐈ QUEST.wtf</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li>
            <%= if user = Coherence.current_user(@conn) do %>
              Logged in as
              <strong><%= user.name %></strong>
              <br>
              <%= link "Log out", to: session_path(@conn, :delete), method: :delete %>
            <% else %>
              <%= link "Log in", to: session_path(@conn, :new) %>
            <% end %>
            </li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
